<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Anilist common anime tool</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ description }}">
</head>
<body>
<table>
    <thead>
    <tr>
        <th>Media ID</th>
        <th>Romaji</th>
        <th>English</th>
        <th>Native</th>
    </tr>
    </thead>
    <colgroup>
        <col>
        <col>
        <col>
        <col>
    </colgroup>
    <tbody>
    {% for entry in entries %}
        <tr>
            <td>{{ entry['id'] }}</td>
            <td><a href="{{ entry['siteUrl'] }}">{{ entry['title']['romaji'] }}</a></td>
            <td><a href="{{ entry['siteUrl'] }}">{{ entry['title']['english'] }}</a></td>
            <td><a href="{{ entry['siteUrl'] }}">{{ entry['title']['native'] }}</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</body>

</html>
